<div class=row>
        <div class='col-12 mt-5' >      
                <% current_user.houses.each do |house| %>
                    <div class="liste single-special  wow fadeInUp" data-wow-delay="0.2s" style="padding: 20px;box-shadow:0px 2px 7px grey;display:flex">
                        <%= image_tag(house.images[0],height:"225",width:"300",style:'border-radius:15px') %>
                        <div class="card-body">
                            <h6 class="card-title"><%= house.localisation %></h6>
                            <%= link_to 'Regarder',house, class:'btn btn-outline-primary',style:'border-radius:50px' %>
                        </div>
                        <div>
                              <h2 class='mt-40'><b><%= house.prix%>$/night </b></h2>
                        </div>
                            
                    </div>
                    <br>
                    <hr><br>
                        
                <% end %>      
        </div>
</div>      

