<section class="show_house">
    <div class='container-house'>
        <div class="row-house">
            <div class="col-12 col-md">      
                    <% @houses.each do |house| %>
                      <div class="card" style="width: 18rem">
                      <%=image_tag("bg-img/tana.jpeg", alt: "")%>
                          <div class="card-body">
                          <h6 class="card-title"><%= house.localisation %></h6>
                          <%= link_to 'Show',house, class:'btn btn-outline-primary',style:'border-radius:50px' %>
                        </div>
                      </div>
                    <% end %>      
            </div>
                <div class='col-12 col-md'>
                    <div>
                        <%= link_to 'New House', new_house_path,class:'btn btn-primary' %>
                    </div>
                </div>
        </div>
    </div>
</section>