<div class="s-ins">
  <div class="container" >
    <div class="row  align-items-center" >
      <div class="col-12 ">
        <div class="form-auths text-center" >
          <h2>Create your houses here</h2>
          <div class="line-shape"></div>
          <%= render 'form', house: @house %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container text">
  <div class="row">
    <div class="col-4">
      <h4>Pourquoi s'inscrire chez nous?</h4>
      <div class="line-shape"></div>
      <br>
      <br>
      <br>
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis sed itaque nemo neque velit veritatis eaque nesciunt, excepturi libero quas! Numquam est incidunt officiis laboriosam obcaecati. Temporibus corrupti error laudantium. </p>
    </div>
    <div class="col-4">
      <h4>Pourquoi s'inscrire chez nous?</h4>
      <div class="line-shape"></div>
      <br>
      <br>
      <br>
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis sed itaque nemo neque velit veritatis eaque nesciunt, excepturi libero quas! Numquam est incidunt officiis laboriosam obcaecati. Temporibus corrupti error laudantium. </p>
    </div>
    <div class="col-4">
      <h4>Pourquoi s'inscrire chez nous?</h4>
      <div class="line-shape"></div>
      <br>
      <br>
      <br>
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis sed itaque nemo neque velit veritatis eaque nesciunt, excepturi libero quas! Numquam est incidunt officiis laboriosam obcaecati. Temporibus corrupti error laudantium. </p>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
-->