<br><br><br><br>
<div class='container pt-5' style='background-color:white'>
        <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>Create your houses here</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
        </div>

        <%= render 'form', house: @house,style:'margin: 0 auto' %>

        
</div>        


           
