<section class="new-house">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-md">            
                        <%= render 'form', house: @house %>
                        <%= link_to 'Back', houses_path %>
                </div>
            </div>
        </div>        
</section>