<p>
Reservation made by: <%= reservation.house.nom %>
</p>
<p>On these dates:</p>
<ul>
    <li>comming_date: <%= reservation.comming_date %></li>
    <li>Leaving date: <%= reservation.leaving_date %></li>
</ul>
 
