<p>
    <strong>Guest:</strong>
    <%= reservation.guest_name %>
</p>

<p>
    <strong>Comming-date:</strong>
    <%= reservation.comming_date %>
</p>

<p>
    <strong>Leaving-date:</strong>
    <%= reservation.leaving_date %>
</p>
            