<p class="text-center" style="color:white"><strong>Guest:</strong>
    <%= reservation.guest_name %></p>

<p>
    <strong>Comming-date:</strong>
    <%= reservation.start_time%>
</p>

<p>
    <strong>Leaving-date:</strong>
    <%= reservation.end_time %>
</p>
            