/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html{
    width:100% ;
}

body{
    
    margin:0px;
    padding:0px;
   
}

.background {
     background-image: image-url('bg.jpeg');
     width: 100%;
     height:700px;
     background-size:cover;
     background-repeat: no-repeat;
     position:relative;
   
    //  left:0;
    //  top:0;
    //  overflow: hidden;

}
.para{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 5px;
    text-shadow: 3px 3px 6px #03fce8;
}
.para1{
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 30px;
    position: absolute;
    top: 370px;
    left: 505px;
    
    
}
.paras{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    position: absolute;
    top: 430px;
    left: 505px;
    border-radius: 50px;
    border-color: white;
}
.paras1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    position: absolute;
    top: 430px;
    left: 655px;
    border-radius: 50px;
    border-color: white;
}

.navigation{
    position: absolute;
    top: 0;
    color: white !important;
    margin: 0 auto;
    width: 100%;
  
}
.navigation3{
    position: absolute;
    top: 0;
    background-color: darkcyan;
    margin: 0 auto;
    width: 100%;
    height: 90px;
    display:flex
}
.navigation2{
    position: absolute;
    top: 0;
    background-color: darkcyan;
    margin: 0 auto;
    width: 100%;
    height: 90px;
    display:flex
}
.navigation ul{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border:1px solid white;
    border-radius: 50px;
    padding: 10px;

}
.navigation2 ul{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border:1px solid white;
    border-radius: 50px;
    padding: 10px;

}
.navigation ul .list{
    list-style: none;
    font-size: 20px;
    color: white;
}
.navigation2 ul .list{
    list-style: none;
    font-size: 20px;
    color: white;
}
.location{
    
    height: 550px;
    width: 100%;
    padding: 20px;
}

.col-3{
    cursor: pointer;
}