
<div class='container'>

        <h1 class='mt-5'>Les hébergements à <%= @location.city_name %>:</h1>
        <div class='col-8' style='display:flex;flex-wrap:wrap'>      
                <% @location.houses.each do |house| %>
                  <div class="card" style="width: 18rem;margin: 20px;border-radius:20px;box-shadow:0px 2px 2px black">
                    <%= image_tag(house.images[0],height:"180",width:"287",style:'border-radius:20px 20px 10px 10px') %>
                      <div class="card-body">
                      <h6 class="card-title"><%= house.localisation %></h6>
                      <%= link_to 'Regarder',house, class:'btn btn-outline-primary',style:'border-radius:50px' %>
                    </div>
                  </div>
                <% end %>      
        </div>

</div>