<div class=" background" >
     
             <h1 class='para'>Bienvenue</h1>
             <p class='para1'>Plannifier vos prochains vacances avec nous</p>
             <%= link_to "S'incrire",new_user_registration_path,class:' btn btn-outline-primary paras'  %>
    
</div>