<div class=" background" >
        <div id="particles-js" style ='height:700px'>
     
             <h1 class='para'>Bienvenue</h1>
             <p class='para1'>Plannifier vos prochains vacances avec nous</p>
             <%= link_to "S'incrire",new_user_registration_path,class:' btn btn-outline-primary paras'  %>
             <%= link_to "Se connecter",new_user_session_path,class:' btn btn-success paras1'  %>
        </div>     
    
</div>

<script src="/javascript/packs/app.js"></script>
<script src="/javascript/packs/particles.js"></script>