 <!-- ***** Footer Area Start ***** -->
    <footer class="footer-social-icon text-center section_padding_70 clearfix">
        <!-- footer logo -->
        <div class="footer-text">
            <h2>H. app</h2>
        </div>
        <!-- social icon-->
        <div class="footer-social-icon">
            <a target="_blank" href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiFprWm09DuAhXSUjUKHd2OCK4QFjAAegQIARAD&url=https%3A%2F%2Fwww.facebook.com%2F&usg=AOvVaw2q27ov2cpCynr72DmuSqEz"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a target="_blank" href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwj_9vaE09DuAhVzElkFHVDkCGkQFjAAegQIARAD&url=https%3A%2F%2Fwww.instagram.com%2F&usg=AOvVaw1cBeRoOpMhZ3-x5M1sA3Fm"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a target="_blank" href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiu956J09DuAhVwGFkFHRPOAKQQFjAAegQIAhAD&url=https%3A%2F%2Ftwitter.com%2F%3Flang%3Den&usg=AOvVaw1Sd3B-_cNZOLSmhw9z2lOm"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a target="_blank" href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjo3OWO09DuAhW2GFkFHTOACOkQFjAKegQICBAC&url=https%3A%2F%2Faccounts.google.com%2Flogin&usg=AOvVaw3rc2qJQnin1syHxrs_6Fur"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
        </div>
        <div class="footer-menu">
            <nav>
                <ul>
                    <li><a target="_blank" href="https://www.termsandconditionsgenerator.com/live.php?token=kHFXLOKa9eVjjfuCy9qFkjkYWhXkMhpU">Terms &amp; Conditions</a></li>
                    <li><a target="_blank" href="https://www.privacypolicygenerator.info/live.php?token=U92ka14oglE9ZsRsTk0YDFwh1VY9v44h">Privacy Policy</a></li>
                </ul>
            </nav>
        </div>
        <!-- Foooter Text-->
        <div class="copyright-text">
            <p>Copyright ©2021 Designed by <a href="https://avengers.com" target="_blank">Avengers #10</a></p>
        </div>
    </footer>
    <!-- ***** Footer Area End ***** -->
